cryptocmd>=0.6.1
cvxpy>=1.3.2
matplotlib>=3.5.2
numba>=0.56.0
numpy>=1.22.4
pandas>=1.5.3
pybloqs>=1.2.13
qis>=2.0.1
scikit_learn>=1.3.0
scipy>=1.9.0
seaborn>=0.11.2
setuptools>=63.2.0
yfinance>=0.2.3
